@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-mobile.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 55px 0;
}

header {
  text-align: center;

  h1 {
    margin-top: 40px;
    font-size: 1.8em;
  }

  p {
    margin: 20px 0;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
}

section {
  text-align: center;
  width: 100%;
  background: #6055a5;
  padding: 20px 50px;
  border-radius: 15px;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.192);
  margin: 40px 0 20px 0;

  span {
    font-weight: bolder;
  }
}

form {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 7px 2px 0px #d36464;
  margin-bottom: 40px;
  padding: 25px;

  input {
    height: 55px;
    border-radius: 5px;
    border: 1px solid #e0d6d6;
    padding-left: 20px;
    font-weight: 700;

    &:active {
      border: 1px solid #666;
    }

    &::placeholder {
      font-weight: bolder;
      font-size: 1em;
      letter-spacing: 1px;
      opacity: 0.9;
    }
  }

  .submit-btn {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    box-sizing: border-box;
    background: #38cc8c;
    border: none;
    box-shadow: 0 4px #39b680;
    color: white;
    cursor: pointer;
    padding: 0;

    &:focus {
      border: none;
    }

    &:hover {
      background-color: #39b680ad;
    }

    &:active {
      background-color: #33b87e;
      box-shadow: 0 5px #39b680;
      transform: translateY(4px);
    }
  }

  small {
    font-size: 0.7em;
    color: rgba(192, 185, 185, 0.8);
    margin-top: 15px;
    text-align: center;

    a {
      color: #ff7a7a;
      font-weight: 700;
      opacity: 1;

      &:link {
        color: #38cc8c;
        background-color: transparent;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header section"
      "header form";
    column-gap: 30px;
    width: 80%;
    height: 100vh;
  }

  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    h1 {
      font-size: 3em;
    }
  }

  section {
    grid-area: section;
    height: 60px;
  }

  form {
    grid-area: form;
    padding: 45px;

    input {
      height: 60px;
    }
  }
}

/*
form .icon-error {
  display: none;
}
form .validation-error {
  display: none;
}
.error .validation-error {
  display: block;
  font-size: 12px;
  color: #ff7a7a;
  font-style: italic;
  text-align: end;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 15px;
}
.error .error-input {
  padding-top: 6px;
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  border: 1px solid #ff7a7a;
}
footer {
  color: black;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
    height: 100vh;
    margin: 5%;
  }
  .text-content {
    width: 45%;
    text-align: left;
  }
  .text-content h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .text-content p {
    margin-right: 20px;
  }
  .form-container {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-container input {
    margin: 20px 20px 15px 20px;
  }
  .form-container .submit-btn {
    text-align: center;
    padding: 0;
  }
  .error .validation-error {
    margin: -10px 20px 0 0;
  }
*/
